.cardExp-1,
.cardExp-2 {
  width: 500px;
  height: auto;
  background-color: #5a5a5a;
  border-radius: 25px;
  padding: 15px;
  margin-top: 10px;
  margin-left: 100px;
  .titleGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h1 {
    color: white;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    margin: 0;
  }
  h1::before {
    content: "";
    width: 100px;
    height: 3px;
    background-color: #ff2a48;
    position: absolute;
    bottom: -8px;
    border-radius: 3px;
  }
  h2 {
    font-size: 15px;
    color: white;
    font-weight: 100;
    margin: 0;
  }
  .expYear {
    color: #ff2a48;
    letter-spacing: 2px;
    font-weight: 100;
  }
  ul {
    margin: 0;
    padding-left: 15px;
  }
  li {
    color: white;
    margin-bottom: 15px;
  }
}
