.scroll {
  position: absolute;
  bottom: 100px;
  right: 50px;
  font-size: 20px;
  transform: rotate(90deg);
  text-transform: uppercase;
  color: white;
  letter-spacing: 5px;
}

.scroll::after {
  content: "";
  height: 2px;
  width: 50px;
  position: absolute;
  top: 50%;
  margin-left: 15px;
  background-color: white;
}
