$primaryFont: "Open Sans", sans-serif;

.meSection {
  //border: 2px solid blue;
  font-family: "Monserrat", sans-serif;
  //margin: 120px;
  color: white;
  //display: flex;
  flex-direction: column;
  justify-content: space-between;
  //height: 500px;
  //width: 100%;
  //align-items: center;
  z-index: 2;
  h1 {
    font-size: 25px;
    font-weight: 100;
    margin: 0;
    text-transform: uppercase;
    position: relative;
  }

  h1::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 570px;
    height: 5px;
    margin-left: 50px;
    background-color: #ff2a48;
  }

  h2 {
    font-size: 100px;
    //margin-top: -30px;
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
  }
  h3 {
    text-align: right;
    margin-top: 0px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ff2a48;
  }
}

.meGroupButton {
  display: flex;
  justify-content: center;
  width: 100%;
}
.buttonMe {
  background: #ff2a48;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 25px;
  border: 2px solid #ff2a48;
  padding: 0px;
  font-size: 15px;
  font-family: $primaryFont;
  transition: transform 0.3s ease;
}

.buttonMe:hover {
  cursor: none;
  transform: scale(1.05);
}

.buttonMe_github_icon {
  margin-right: 15px;
}

.githubLink {
  display: contents;
  border: 1px solid red;
}

.description_home {
  //border: 2px solid green;
  width: 70%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  font-family: $primaryFont;
  font-size: 25px;
  z-index: 2;
  .paragraphe_haut {
    color: #ff2a48;
  }
}
.description_home::before {
  content: "";
  height: 1px;
  width: 80%;
  position: absolute;
  background-color: white;
}

.style_R {
  color: #ff2a48;
}

@media screen and (max-width: 768px) {
  .meSection {
    width: 100%;
    h2 {
      font-size: 40px;
    }
  }
}
