.homeStyle {
  display: flex;
  flex-direction: column;
  height: 100vh;
  //overflow-x: clip;
}

.mainSection_home {
  //border: 2px solid red;
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
}

#sousSection1,
#sousSection2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 150px;
  //width: 100%;
  min-height: 100vh;
  position: relative;
}

.groupExp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about_Picture {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
