$primaryFont : 'Montserrat', sans-serif;

.meSection {
    font-family: $primaryFont;
    line-height: 30px;
    width: 700px;
    margin: 120px;
    h1{
        font-size: 60px;
    }
    h3 {
        font-weight: 400;
    }

}

.meGroupButton{
    display: flex;
    justify-content: space-between;
}
.buttonMe {
    background: none;
    width: 49%;
    height: 40px;
    border-radius: 25px;
    border: 2px solid black;
    padding: 0px;
    font-size: 15px;
    font-family: $primaryFont;
    transition: color 0.3s ease, background-color 0.3s ease;

    &.buttonMe_github {
        //margin-left: 15px;
    }
}

.buttonMe:hover, .buttonMe_github:hover {
    color: white;
    background-color: black;
    cursor: none;
}

.buttonMe_github_icon {
    margin-right: 15px;
}

.githubLink {
    display:contents;
    border: 1px solid red;
}