:root {
  --swiper-pagination-color: #ff2a48;
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 10px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  --swiper-navigation-color: rgb(255, 42, 72);
}

.slider-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 25px;
}

.img_overlay {
  position: relative;
  .overlay-carrousel {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0px;
    bottom: 0;
    border-radius: 25px;
    background-color: rgba(255, 42, 72, 0.8);
    h1 {
      color: white;
      display: grid;
      height: 100%;
      place-items: center;
    }
  }
  .arrowRight-carrousel {
    position: absolute;
    color: #fff;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
  }
}

.slider h2 {
  text-align: center;
  color: #fff;
  font-weight: 300;
}

.swiper-pagination {
  //border: 2px solid red;
  position: inherit !important;
  &-bullet {
    transition: width 0.5s ease, margin 0.5s ease;
  }
  &-bullet-active {
    width: 25px !important;
    border-radius: 10px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

// PARTIE POUR LA MODALE DU CARROUSEL

.modal-carrousel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 80%;
  width: 1080px;
  z-index: 9999;
  overflow: auto;
}
.modal-carrousel_overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalContent_carrousel {
  .row {
    display: flex;
    .projectDescription {
      display: flex;
      flex-direction: column;
      h1 {
        color: #ff2a48;
      }
      h2 {
        font-size: 1.1em;
        font-weight: bold;
        margin: 0;
      }
      .groupTag {
        display: flex;
        flex-wrap: wrap;
        margin-top: 16px;
        margin-bottom: 16px;
        .tag {
          border: 2px solid #ff2a48;
          border-radius: 25px;
          padding: 5px 15px;
          margin-right: 16px;
          transition: all 0.3s ease;
          font-weight: 500;
          margin-top: 16px;
        }
        .tag:hover {
          background-color: #ff2a48;
          color: #fff;
        }
      }
      a {
        width: 160px;
      }
      button {
        width: 160px;
        height: 40px;
        border-radius: 25px;
        background: #ff2a48;
        border: none;
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        color: white;
        transition: all 0.3s ease;
      }
      button:hover {
        transform: scale(1.05);
      }
    }
  }
  .img1 {
    width: 600px;
    margin-right: 20px;
    object-fit: cover;
    // box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
  }
}
// GROUPE DES IMAGES DES PROJETS
.groupImg {
  position: relative;
}
.imgModale1_0 {
  width: 100%;
  margin-top: 16px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
}

.imgModale2_0 {
  width: 600px;
  margin-top: 16px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
}

.imgModale2 {
  &_1,
  &_2,
  &_3 {
    margin-top: 16px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
    width: 100%;
  }
}

.imgModale3 {
  &_0,
  &_1 {
    margin-top: 16px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
    width: 100%;
  }
}

.imgModale4 {
  &_0 {
    margin-top: 16px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
    width: 100%;
  }
}

.imgModale5 {
  &_0,
  &_1,
  &_2 {
    margin-top: 16px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
    width: 100%;
  }
}

.imgModale6 {
  &_0,
  &_1 {
    margin-top: 16px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
    width: 100%;
  }
}
// MEDIAQUERIES

@media screen and (max-width: 820px) {
  :root {
    .swiper-button {
      &-prev,
      &-next {
        display: none;
      }
    }
  }
  .slider-img {
    height: 300px;
  }
  .slider h2 {
    font-size: 15px;
  }
  .modal-carrousel {
    width: 80%;
  }
  .modal-carrousel:focus {
    outline: none;
  }
  .modalContent_carrousel {
    .img1 {
      width: 100%;
    }
    .row {
      display: flex;
      flex-direction: column;
      .projectDescription {
        h1 {
          font-size: 20px;
        }
        h2 {
          font-size: 15px;
        }
        p {
          font-size: 12px;
        }
        .groupTag {
          font-size: 12px;
          justify-content: center;
        }
        button {
          font-size: 12px;
        }
        .modaleButton {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  .imgModale2_0 {
    width: 100%;
  }
}
