$primaryFont: "Montserrat", sans-serif;

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  background-color: white;
  //transform: translateX(100%); /* Déplacer la modal hors de l'écran */
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  margin-right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

@keyframes slideIn {
  from {
    transform: translateX(100%); /* Départ à droite de l'écran */
  }
  to {
    transform: translateX(0); /* Arrivée à gauche de l'écran */
  }
}
.buttonModal {
  background: none;
  position: fixed;
  top: 30px;
  right: 30px;
  border: none;
  cursor: none;
  z-index: 3;
}
.menuIcon {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 30px;
  right: 30px;
}
.closeIcon {
  //button
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 20px;
  cursor: none;
  background: none;
  border: none;
  z-index: 2;
}

.modalContent {
  //border: 2px solid red;
  height: 100%;
  margin: 0px;
  //padding-right: 50px;
  display: flex;
  justify-content: flex-end;
  line-height: 100px;
  font-family: $primaryFont;
  font-weight: 700;
  font-size: 40px;
  margin-top: 80px;
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    width: 100%;
    margin-left: 150px;
    li {
      display: flex;
      width: 100%;
      position: relative;
    }
  }
  .modalLink {
    text-decoration: none;
    color: black;
    .ReactModal__Content {
      box-shadow: 0 20px 40px rgba(0, 0, 0, 1);
    }
    &:hover {
      color: #ff2a48;
    }
  }
  .modalLink::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    width: 5px;
    height: 100px;
    background-color: transparent;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  .modalLink:hover::before {
    transform: translateX(0);
    background-color: #ff2a48;
  }
}

@media screen and (max-width: 768px) {
  .modal {
    width: 50%;
    max-width: none;
    margin-right: 0;
  }
}
