.main-cursor,
.shadow-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  pointer-events: none; /* Permet aux événements de la souris de passer à travers les curseurs */
  transform: translate(-50%, -50%);
  z-index: 9999; /* Assurez-vous que les curseurs s'affichent au-dessus de tous les autres éléments */
}

.shadow-cursor {
  background-color: rgba(80, 80, 80, 0.5); /* Définir une couleur d'ombre plus claire */
}
.main-cursor:hover::before,
.shadow-cursor:hover::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}