.socialMediaButtons {
    //border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    button {
        background: none;
        color: white;
        border: none;
        font-size: 25px;
    }
    button:hover {
        color: #FF2A48;
    }
}